@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poetsen+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

    /* Estilo para menu */
.menu{
    text-align: center;
    background-color: rgb(177, 189, 190);
    padding: 20px 0;
    border-bottom: 3px solid rgb(0, 0, 0);
}

    /* Estilo para o logotipo */
.logotipo{
    display: inline-block;
    vertical-align: middle;
    max-width: 60px;
    margin-top: -1.0%;
    float: inline-start;

}

    /* Estilo para os itens do menu */
.menu-item{
    display: inline-block;
    margin: 0 20px;
    color: black;

}

   /* Estilo para os itens do menu */
.menu-item a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;

}

   /* Estilo para os links do menu quando passar o mouse por cima */
.menu-item:hover a {
    color: #f00;

}